<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-lock fa-6x"></i>
    <h1 class="display-3 app-name">Secretbook</h1>
    <p class="lead">You've got secrets? Share them anonymously!</p>

    <hr />
    <a class="btn btn-primary btn-lg button-color" href="/login" role="button"
      >Login</a
    >
    <a class="btn btn-light btn-lg text-primary" href="/register" role="button"
      >Register</a
    >
  </div>
</div>

<%- include('partials/footer') %>
